.background {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.background__mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  .background {
    display: none;
  }

  .background__mobile {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}
